.navigation {
  background-color: #0288D1;
  height: 40px;
}

.action-list li {
  display: inline-block;
  a {
    color: #fff;
    line-height: 25px;
    &:hover {
      color: #000;
      background-color: #0288D1;
    }
  }
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.login-modal,
.signup-modal {
  form input {
    margin: 5px;
  }
}
